.footer{
 background-color: $dark-purple;  
 background-size: cover; 
}
.footer-wrap{
 display: flex;
 justify-content: space-between;
 padding: 32px 0px;   
}
.copyright{
 color: #f8fdfe; ;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;   
}
.rights{
color: #f8fdfe;
font-size: 16px;
font-weight: 400;
line-height: 24px;    
}