.header__top-wrap {
  position: fixed;
  background-color: #10BBD5;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.header__top-bar {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
}

.header__cart-menu {
  display: flex;
  align-items: center;
}

.header__cart-btn {
  background-image: url(../images/cart.svg);
  background-color: #10BBD5;
  width: 40px;
  height: 40px;
  border: none;
  background-size: cover;
  cursor: pointer;
  padding: 12px 12px 18px 19px;
  color: #000;
  font-size: 12px;
  line-height: 10px;
}/*# sourceMappingURL=header.css.map */