.main-content {
  padding-top: 140px;
  margin-bottom: 120px;
}

.main-content__title {
  border-bottom: 1px solid #a8a8a8;
  margin: 0;
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding-bottom: 24px;
  margin-top: 32px;
}

.main-content__prosuct-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 24px;
  padding: 0;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 32px;
  margin-bottom: 0;
}/*# sourceMappingURL=main-content.css.map */